<h1>Hello, World!</h1>
<p>This is the homepage of my superhero app</p>

<div class="card">
  <div class="card-header">
  <%= link_to 'Click here to generate a new superhero', root_path%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Content title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer">
  <%= link_to 'Create a whole superhero team', home_team_path%>
  </div>
</div>
