<h1>Create a Superhero Team!</h1>
<p>This is my Team Page</p>

<div class="card">
  <div class="card-header">
  <%= link_to 'Click here to generate a new superhero', root_path%>
  </div>
  <div class="card-body">
    <%= @hero_name %>
  </div>
  <div class="card-footer">
  <%= link_to 'Create a whole superhero team', home_team_path%>
  </div>
</div>